@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

$color-bg-dark: #3c1642;
$color-bg-light: #b2ff9e;
$color-light: #ffd166;
$color-dark: #086375;

// main

body {
  font-family: "Staatliches", sans-serif;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

// Link

a {
  text-decoration: none;
}

a:active {
  text-decoration: none;
  color: $color-bg-light;
}

a:visited {
  color: $color-dark;
}

// form

.form__label {
  margin: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

// navbar

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: $color-light;
  margin-top: 0rem;
}

.navbar a {
  display: block;
  color: $color-dark;
  padding: 8px 0 8px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: $color-dark;
  color: $color-bg-light;
}

.navbar__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
}

.navbar__left {
  display: flex;
  flex-direction: row;
  align-items: right;
  font-size: 16px;
  margin-right: 2rem;
}

// Button

.button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  max-width: fit-content;
  color: $color-bg-light;
  background-color: $color-bg-dark;
}

.button:hover {
  background-color: $color-dark;
  color: $color-light;
}

// post

.post__input {
  height: 10vh;
  width: 30vh;
}

.post__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

.post__item {
  border-style: solid;
  border-color: $color-dark;
  margin: 5px;
  padding: 10px;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post__text {
  font-size: 32px;
}

.post__user {
  margin: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  max-width: fit-content;
  background-color: $color-light;
  color: $color-bg-dark;
}

.post__button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

// profile

.profile{
  display: flex;
  flex-direction: column;
}

// Divider

.divider_solid {
  border-top: 3px solid $color-bg-light;
}
