@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


$color-bg-dark: #3c1642;
$color-bg-light: #b2ff9e;
$color-light: #ffd166;
$color-dark: #086375;

body {
font-family: 'Staatliches', cursive;
}

a{
  text-decoration: none;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form__label {
  margin: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: $color-light;
  margin-top: 0rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

ul a {
  display: block;
  color: $color-dark;
  padding: 8px 0 8px 16px;
  text-decoration: none;
}

ul a:hover {
  background-color: $color-dark;
  color: $color-bg-light;
}

.navbar__element {
  padding: 5px;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-left {
  display: flex;
  flex-direction: row;
  align-items: right;
  font-size: 16px;
}

.button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  max-width: fit-content;
  color: $color-bg-light;
  background-color: $color-bg-dark;
}

.button:hover {
  background-color: $color-dark;
  color: $color-light;
}

.post__input {
  height: 10vh;
  width: 30vh;
}

.post__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

.post__item {
  border-style: solid;
  border-color: $color-dark;
  margin: 5px;
  padding: 10px;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post__text{
  font-size: 32px;
}

.post__user{
  margin: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  max-width: fit-content;  background-color: $color-light;
  color: $color-bg-dark;
}

.post__button{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

// $color-bg-dark: #3c1642;
// $color-bg-light: #b2ff9e;
// $color-light: #ffd166;
// $color-dark: #086375;

// Divider

.divider_solid{
    border-top: 3px solid $color-bg-light;
}

// Form

.post__input{

}